## Eksik Değerlerin İncelenmesi

In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Hiç eksik gözlem var mı?

In [2]:
df.isnull().values.any()

True

True olduğu için demek ki eksik gözlem var.
Peki hangi değişkende kaçar tane eksik var?

In [3]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

Eksik değerleri 0 ile doldurmak için:

In [5]:
df["orbital_period"].fillna(0,inplace = True) #sıfır ile dolduruldu.

In [6]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [7]:
df["mass"].fillna(df.mass.mean(),inplace = True) #ortalama ile dolduruldu.

In [8]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace = True) #kategorik değerin ortalamasını alamıyor.

In [11]:
df = planets.copy()
df.head()
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64